@using SuccessfulAdmission.DataLogic.Models
@model SuccessfulAdmission.DataLogic.Models.SpecialityModel
@{
    var applicants = ViewBag.Applicants as List<ApplicantModel>;
    var subjects = ViewBag.Subjects as List<SubjectModel>;
}

<div class="text-center">
    <h3>Список абитуриентов на специальность "@Model.Name"</h3>
    <p>Количество мест @Model.CountOfPlaces</p>
</div>
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
<script>
    alert('@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["ErrorMessage"].ToString()))');
</script>
}
<div class="row m-3">
    <label class="col-3">Добавить абитуриента: </label>
    <form action="@Url.Action("AddSpecialityApplicant", "Home")" method="post" class="col-6 d-flex">
        <select id="applicantId" name="applicantId" class="form-select me-2" asp-items="@(new SelectList(@ViewBag.AllApplicants,"Id", "Name"))"></select>
        <input type="hidden" id="specialityId" name="specialityId" value="@Model.Id" />
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </form>
</div>
<div class="text-center">
    <table id="applicantsTable" class="table">
        <thead>
        <tr>
            <th>
                ФИО абитуриента
            </th>
            @foreach (var subject in subjects)
            {
                <th>
                    @subject.Name
                </th>
            }
            <th>
                Сумма баллов
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var applicant in applicants)
        {
            <tr>
                <td>
                    @applicant.Name
                </td>
                @{ int totalScore = 0; }
                @foreach (var subject in subjects)
                {
                    int score = applicant.Results.TryGetValue(subject, out var value) ? value : 0;
                    <td>
                        @score
                    </td>
                    totalScore += score;
                }
                <td>@totalScore</td>
                <td>
                    <input type="button" class="btn btn-danger" value="Удалить" onclick="location.href='@Url.Action("DeleteSpecialityApplicant","Home", new {specialityId=Model.Id, applicantId=@applicant.Id})'" />
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>