@model List<SuccessfulAdmission.DataLogic.Models.UserModel>

<div class="text-center">
    <h1 class="display-4">Пользователи</h1>
</div>
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
<script>
    alert('@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["ErrorMessage"].ToString()))');
</script>
}
<div class="text-center">
    <table class="table">
        <thead>
        <tr>
            <th>
                Логин
            </th>
            <th>
                Почта
            </th>
            <th>
                Роль
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.IsAdmin ? "Админ" : "Пользователь")
                </td>
                <td>
                    @if (!item.IsAdmin)
                    {
                        <input type="button" class="btn btn-success" value="Повысить" onclick="location.href='@Url.Action("PromoteUser", "Home", new { id = item.Id })'" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>